<%- include("includes/head.ejs")%>
<body>
    <h1>This is home page</h1>
    <h2>Sum of 1 + 2 is : <%= 1+2 %></h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Exercitationem sed velit excepturi ut sunt quasi quia asperiores blanditiis id debitis quisquam quos eius 
        perspiciatis porro ratione in quae dignissimos reiciendis repellendus molestiae commodi, cum distinctio ipsam. 
        Molestias architecto aperiam, mollitia similique voluptatibus accusamus ab asperiores sapiente ducimus, quo nisi 
        ipsa error consequatur quisquam assumenda consequuntur possimus nesciunt? Eveniet enim eaque facere id unde, obcaecati totam debitis, 
        numquam exercitationem architecto veniam libero itaque quas voluptate blanditiis dolorum repellendus quo. 
        Eligendi, nihil sed fuga dolorem debitis sint aliquam distinctio mollitia alias? Nesciunt incidunt nihil fuga 
        error aperiam sapiente debitis laudantium natus. Aut, porro necessitatibus nostrum voluptatibus impedit vitae modi adipisci 
        at eligendi consequatur laboriosam placeat iusto accusamus error recusandae animi nulla ut ipsum aperiam ex voluptates? Ab soluta 
        voluptas voluptatem praesentium unde nihil, ea quidem, enim perspiciatis corporis accusantium beatae nemo. Velit doloremque praesentium facilis aliquid. 
        Excepturi non obcaecati minima natus nam dolores voluptas eos laborum eaque deserunt quia qui perferendis aspernatur 
        laboriosam culpa earum molestias perspiciatis, itaque eveniet ipsam cum nulla suscipit? Autem rem ea commodi 
        culpa sunt aperiam architecto illo exercitationem quos, nostrum, eveniet, mollitia dolores recusandae saepe 
        accusamus dolorum nobis possimus consequuntur! Ullam in incidunt voluptas sapiente sequi. Vero, nam error dolorem 
        ipsa blanditiis voluptas saepe maxime impedit tempora quidem 
        ea delectus a laudantium nobis sit architecto molestias modi sapiente doloribus beatae quod numquam possimus. 
        Earum eos cumque placeat quas saepe dolor explicabo modi dolorem hic? Ducimus asperiores accusantium maiores 
        amet quo, at voluptatum fuga aperiam, dicta ea officia aliquid quisquam ratione nisi porro, ipsa eligendi 
        necessitatibus iure labore tempora magni repellat qui dolorem dolor? 
        Reiciendis saepe harum sapiente architecto, aperiam cupiditate magnam, neque, dolore omnis amet mollitia 
        enim ea nemo excepturi quaerat natus ut consectetur nulla voluptatem id libero quas aspernatur ullam animi? Quos ducimus 
        ea modi dolorem, dolor magnam inventore ullam, totam porro blanditiis voluptatum nostrum ut officia 
        laboriosam? Eveniet unde consequuntur temporibus ducimus tempore est totam fugiat, doloremque voluptatum praesentium 
        in illo dicta quos pariatur alias sapiente perferendis ab?</p>
    <button>Click Me!</button>
</body>
</html>